body {
    min-height: 100vh; /* We need this to set the height of the body to the entire viewport */
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.header, .footer {
    background-color: #317873;
    color: white;
}

/* 

MAIN HEADER SECTION

*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    padding: 0px 200px;
}

/*
/ Navigation section. 
/ Handles the logo and the navigation links.
*/

.navigation {
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ink Free','Fira Sans Condensed Hair', Roboto, sans-serif;
}

.header-links {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header-links li:hover {
    background-color: #318CE7;
    padding: 10px;
    border-radius: 6px;
}


/*
/ Header Content section.
/ Handles the text and images in the header.
*/

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
}

/*
/ Header Website Information.
/ The text section of the header
*/

.header-website-info {
    width: 350px;
}

.open-gallery-button {
    background-color: #5F9EA0;
    color:  #F0F8FF;
    font-weight: bold;
    margin-top: auto;
    padding: 5px 30px;
    border: none;
    border-radius: 6px;
}

.open-gallery-button:hover {
    background-color: #318CE7;
}

/*
/ Header Images.
/ The image section of the header
*/


.header-images {
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    margin-left: 30px;
}

.header-image,
.header-image-2 {
    
    border-radius: 24px;
    height: 350px;
    flex: 0 1 auto;
}

@media screen and (max-width: 1750px) {
    .header-image-2{
        display: none;
    }
}

/*
/
/
*/


.content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.content-cards {
    display: flex;
    flex: 1 0 auto;
}

.card {

}

.content-wide-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 300px;
}

.wide-landscape-image {

}

.content-newsletter{
    height: 300px;
}

.newsletter-background-image {

}

.newsletter-banner {

}

.newsletter-text {

}

.sign-up-button {
    
}

.footer {
    height: 70px;
    font-size: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}