body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Open Sans', sans-serif
}

.header {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
}

.logo {

}

.header-links {

}

.header-content {
    display: flex;
}

.website-info {

}

.more-images-button {

}

.header-image {
    height: 200px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-cards {
    display: flex;
}

.card {

}

.content-wide-banner {

}

.wide-landscape-image {

}

.content-newslette{
    
}

.newsletter-background-image {

}

.newsletter-banner {

}

.newsletter-text {

}

.sign-up-button {
    
}

.footer {
    height: 70px;
    background-color: #274472;
    color: white;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}